*{
    margin:0;
  
}
body{
    font-family:sans-serif,'Robot';
    margin:0;
}
.navbar{
    width:100%;
    height:50px;
    background-color:black;
top:0;
position:absolute;}
    
.navbar-container{
        display: flex;
        align-items:center;
        background-color: rgb(7, 6, 6);
        padding:0 50px;
        height:100%;
        color:beige;

 }
.logo-container{
        flex:1;
       
    }
.logo{
        font-family: 'Zen Loop', cursive;
        font-size: 50px;
        color:rgb(200, 200, 223)
    }
.logo:hover{
  transition:  1s ;
   transform: skew(1.2);
 }
    .menu-list-item.active{
        font-weight:bold;
        
    }
.menu-container{
        flex:6;
  
        display:flex;
    }
 .menu-list-item{
     list-style-type: none;
        margin:30px;
    }
.profile-container{
        flex:2;
        display: flex;
        align-items:center;
        background-color:black;
justify-content: flex-end;
        
    }
        
    .profile-text-container{
        margin: 0 20px;;

    }
    .toggle{
        width: 40px;
        height: 20px;
        border-radius:30px;
       display:flex;
        background-color: aliceblue;
       justify-content:space-around ;
       align-items:center;
       position: relative;
    }
    .toggle-icon{
        color:blueviolet
    }
    
    .toggle-ball{
        width:18px;
        height: 18px;
        background-color:rgb(105, 14, 14);
        position: absolute;
        right:1px;
        border-radius: 50%;
        cursor: pointer;


    }
    .profile-picture{
        width: 40px;
        height: 40px;
     
        border-radius:50%;
        object-fit: cover;
    }
.sidebar{
    width:50px;
    height:100%;
    background-color:black;
    position:fixed;
    top:0;
    display:flex;
    flex-direction:column;
    padding-top:60px;
  

}
.left-menu-icon{
    color:white;
    font-size:20px;
    margin-bottom: 40px;
    padding-left: 10px;
    align-items: center;
}
.container{
    background-color: rgb(15, 9, 9);
    min-height: calc(100vh - 50px);
    color:white;
}
.content-container{
    margin-left: 50px;
}
.feature-content{
   height: 50vh;
    
   padding: 50px;
}
.featured-title{
    width: 200px;
}
.featured-desc{
width: 500px;
color:beige;
margin: 50px;
}
.featured-button{
    font:15px bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(132, 144, 177);
color:wheat;
padding: 10px 20px;
border-radius: 10px;
border:none;
}
.featured-button:hover{
    transition: all 2s .5s;
    transform: rotate(60deg);
}
.movie-list-title{
   text-transform: uppercase;
}
.movie-list-container{
    padding: 20px;

}
.movie-list{
    display: flex;
    height: 300px;
    align-items: center;
}
.movie-list-item{
    margin-right: 30px;
    
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px; 
}

.movie-list-item-img{
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 60px;
  transition: all 1s ease-out;
}
.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font: 32px bold ;
    position: relative;
   top: 10px;
  left: 50px;

}
.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
   font-size:14px;
    position: relative;
top: 10px;
left: 50px;

}

    